<%= form_for @expertise, url: "/experts/expertise", role: "form", validate: true do |f| %>
  
  <div class="form-group row">
    <%= f.label :title, class: "col-xs-2 control-label" %>
    <div class="col-xs-10">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "col-xs-2 control-label" %>
    <div class="col-xs-10">
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
  </div>

<% end %>


<% if(@existing_expertise.length > 1) %>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @existing_expertise.where("ID IS NOT NULL").each do |expertise|%>
			<tr>
				<td><%= expertise.title %></td>
				<td><%= expertise.description %></td>
				<td><button data-toggle="modal" href="#expertModal<%= expertise.id %>">Edit</button></td>
				<td><%= link_to("Delete", experts_expertise_path(id: expertise), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></td>
			</tr>
		<% end %>
	</tbody>
<% else %>
	<h3>No Expertise Added.</h3>
<% end %>

<% @existing_expertise.each do |expertise| %>
	<div aria-hidden="true" class="modal fade modalmessage" on-show id="expertModal<%= expertise.id %>" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"> Expertise Details </h4>
				</div>
				<div class="modal-body" style="margin-bottom: 150px;">
					<%= simple_form_for(expertise, url: experts_expertise_path(expertise), method: :put, remote: false, multipart: false, validate: false) do |f| %>
					  <div class="alert alert-danger fade" id="modal_notice" style="margin-bottom: 5px;">
					  </div>
					  
					  <%= f.input :title %>
					  <%= f.input :description, as: :text, :input_html => { :cols => 50, :rows => 3 } %>
					  <%= f.button :submit, "Update", class: "btn btn-default pull-right", style: "margin-top: 10px;" %>
					  
					<% end %>
				</div>
				<div class="modal-footer">
					<p>
						Press ESC to Exit
					</p>
				</div>
			</div>
		</div>
	</div>
<% end %>