<%= simple_form_for(MessagePost.new, url: new_conversation_path, method: :post, remote: true, multipart: true, validate: true) do |f| %>
  <div class="alert alert-danger fade" id="modal_notice" style="margin-bottom: 5px;">
  </div>
  
  <%= f.hidden_field :recipient_id, value: @user.id %>
  <%= f.input :subject %>
  <%= f.input :body, as: :text, :input_html => { :cols => 50, :rows => 3 } %>
  <%= f.button :submit, "Send message", class: "btn btn-default pull-right" %>
<% end %>

<br />
<br />

<script>
  $(document).ready(function() {
      $('#messageModal').on('shown.bs.modal', function() {
          $('#new_message_post').enableClientSideValidations();
          $('#new_message_post').resetClientSideValidations();
      })
  });
</script>