<div class="row">
	<h1>Transaction History</h1>	
	<table class="table">
	  <thead>
	    <tr>
	      <th>Amount</th>
	      <th>Date</th>
	      <th>Details</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @transactions.each do |transaction| %>
	      <tr>
	        <td><%= number_to_currency(transaction.amount_with_sign) %></td>
	        <td><%= transaction.created_at.to_formatted_s(:long) %></td>
	        <td><%= transaction.description %></td>
	        <td><%= transaction.transaction_status %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<% if @transactions.empty? %>
	  <div>No Transactions.</div>
	<% else %>
	<div id="collection_paginator" >
		<%= will_paginate @transactions %>
		</div>  
	<% end %>
	
</div>