<p>
	Hi <%= @to.name %>,	
</p>
<p>
	Your appointment with <%= @appointment_with.name %> has been modified. <%= @appointment_with.name %> has requested that the appointment be changed to <%= @appointment.time.to_formatted_s(:long)%>. 	
</p>
<p>
	If you would like to confirm the new appointment details, please click <%= link_to "here", expert_appointment_url(@expert.id, @appointment.id) %>. 
</p>
<p>
	If you would like to view the full appointment details, or make further edits to the appointment, please click <%= link_to "here", edit_expert_appointment_url(@expert.id, @appointment.id) %>. 
</p>

<p>
	Thank you for using Lorious! If you have any questions or comments, please feel free to contact us at support@lorious.com	
</p>
<p>
Sincerely,<br />
Henry<br />
co-founder of Lorious<br />	
</p>
