%p
  Hi #{@to.name},
%p
  You have received a request for an appointment with #{@from.name} at #{@appointment.time.in_time_zone(@appointment.time_zone).strftime("%A, %m/%d/%Y %I:%M %p %Z")}.
%p
  If you would like to view the details of your appointment request or make any changes to it, you can do so #{link_to "here", edit_expert_appointment_url(@expert.id, @appointment.id)}.
%p
  Click #{link_to "here", expert_appointment_url(@expert.id, @appointment.id)} to confirm the appointment.

  Remember, once your appointment is confirmed you can propose changes to the appointment until eight hours before the appointment start time.
%p
  Thank you for using Lorious! If you ever have any questions or thoughts, don't hesitate to contact me at support@lorious.com.
%p
  Sincerely,
  %br/
  Henry
  %br/
  co-founder of Lorious
  %br/
