%h1 Apply to be an Expert
= hidden_field_tag :current_step_index, 2
.form-group.row
  %label.col-xs-2.control-label Name
  .col-xs-10
    %input.form-control{:readonly => "true", :type => "text", :value => current_user.name}/
.form-group.row
  %label.col-xs-2.control-label Email
  .col-xs-10
    %input.form-control{:readonly => "true", :type => "text", :value => current_user.email}/
    your email will not be shared publicly
.form-group.row
  = f.label :github_url, label: "Github URL", class: "col-xs-2 control-label"
  .col-xs-10
    = f.text_field :github_url, class: "form-control", placeholder: "Github URL", validate: true
.form-group.row
  = f.label :stack_overflow_url, label: "StackOverflow URL", class: "col-xs-2 control-label"
  .col-xs-10
    = f.text_field :stack_overflow_url, class: "form-control", placeholder: "StackOverflow URL", validate: true
.form-group.row
  = f.label :linked_in_url, label: "Linked In URL", class: "col-xs-2 control-label"
  .col-xs-10
    = f.text_field :linked_in_url, class: "form-control", placeholder: "Linked In URL", validate: true
.form-group.row
  = f.label :personal_website, label: "Personal Website", class: "col-xs-2 control-label"
  .col-xs-10
    = f.text_field :personal_website, class: "form-control", placeholder: "Personal Website", validate: true
.form-group.row
  = f.label :skills, class: "col-xs-2 control-label"
  .col-xs-10
    = f.select :skills, options_for_select(@available_skills), {}, multiple: "multiple", class: "chosen", "data-placeholder" => "Select your skills"
.form-group.row
  = f.label "Tell us about yourself (Feel free to keep it brief)", class: "col-xs-2 control-label"
  .col-xs-10
    = f.text_area :about_description, class: "form-control"
.form-group.row{:style => "margin-bottom: 50px"}
  .col-lg-offset-2.col-lg-10
    = f.submit "Apply for Expert", class: "btn btn-default"
