<div class="form-group row" style="margin-top: 50px;">
	<%= hidden_field_tag :current_step_index, 0 %>
	<%= f.hidden_field :step_1_complete, value: true %>

	<%= f.label :username, class: "col-xs-2 control-label" %>
	<div class="col-xs-10">
		<%= f.text_field :username, class: "form-control", placeholder: "User name", validate: true %>
	</div>
</div>

<div class="form-group row">
	<%= f.label :first_name, class: "col-xs-2 control-label" %>
	<div class="col-xs-10">
		<%= f.text_field :first_name, class: "form-control", placeholder: "First name", validate: true %>
	</div>
</div>

<div class="form-group row">
	<%= f.label :last_name, class: "col-xs-2 control-label" %>
	<div class="col-xs-10">
		<%= f.text_field :last_name, class: "form-control", placeholder: "Last name", validate: true, validate: true %>
	</div>
</div>

<div class="form-group row">
	<%= f.label :tag_line, class: "col-xs-2 control-label" %>
	<div class="col-xs-10">
		<%= f.text_field :tag_line, class: "form-control", placeholder: "Tag line", validate: true %>
	</div>
</div>

<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-2">
		<img src="<%= @user.image.url %>" class="thumbnail" />
	</div>
</div>
<div class="form-group row">
	<%= f.label :image, class: "col-xs-2 control-label" %>
	<div class="col-xs-10">
		<%= f.file_field :image, class: "form-control", placeholder: "Image", validate: true %>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
	var placeSearch, autocomplete;
	window.onload = function initialize() {
		// Create the autocomplete object, restricting the search
		// to geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
		/** @type {HTMLInputElement} */(document.getElementById('autocomplete')), {
			types : ['(cities)']/*, componentRestrictions: {country: "us"} */
		});
		// When the user selects an address from the dropdown,
		// populate the address fields in the form.
		google.maps.event.addListener(autocomplete, 'place_changed', function() {
			try {
				angular.element(document.getElementById('AngularCtrl')).scope().$apply(function(scope) {
					scope.query.location = autocomplete.getPlace().formatted_address;
					scope.getFilteredValues();
				});
			} catch(e) {
				//do nothing
			}
		});
	}
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var geolocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
			});
		}
	}
</script>
<div class="form-group row">
	<%= f.label :location, class: "col-xs-2 control-label" %>
	<div class="col-xs-10">
		<%= f.text_field :location, class: "form-control", placeholder: "Location", validate: true, id: "autocomplete" %>
	</div>
</div>

<div class="form-group row" style="margin-bottom: 150px;">
	<div class="col-lg-offset-2 col-lg-10">
		<%= f.submit "Update Info", class: "btn btn-default" %>
	</div>
</div>
