= simple_form_for @availability, url: "/experts/availabilities/#{@availability.id}", role: "form", validate: true do |f|
  .form-group.row
    = f.label :hourly_cost, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :hourly_cost, class: "form-control", placeholder: "Hourly Rate"
  .form-group.row
    = f.label :time_zone, class: "col-xs-2 control-label"
    .col-xs-10
      = f.input :time_zone, priority: /US/, input_html: { class: "form-control"}
  #edit_calendar
    = render "shared/availability_calendar"
  = f.hidden_field :timespans
  .form-group.row
    .col-lg-10.mg-20
      = f.submit "Save", class: "btn btn-default"
      %a#clear_availability.btn.btn-default Clear
:javascript
  $(document).ready(function(){
    lorious.fn.reset_calendar_with_new_timezone($("#availability_time_zone option:selected").text());
  })
