-meta :title => "Lorious | View Conversation"
.row
  .col-xs-10
    = render 'messagenav'
%br
  - if @conversation.is_trashed?(current_user)
    = link_to "Untrash this conversation", untrash_conversation_path(@conversation), class: "btn btn-success", method: :post
  - else
    = link_to "Trash this conversation", trash_conversation_path(@conversation), class: "btn btn-danger btn-sm", method: :delete
.row
  .col-xs-10
    %h2.subject= @conversation.subject
    .well

      %p Message History
      - @conversation.messages.each do |message|
        .panel.panel-default
          .panel-heading.strong
            %img{src: message.sender.nil? ? "" : message.sender.image_url, width: '25px', class: "img-rounded"}
            #{message.created_at.to_s(:short)} (#{time_ago_in_words(message.created_at)} ago)
            - if message.sender == current_user
              You said...
            - else
              = message.sender.name rescue 'Unknown'
              said...

          .panel-body= message.body

    #reply
      = simple_form_for @message  do |f|
        = f.input :conversation_id, as: :hidden
        %h2 Reply
        = f.input_field :body, as: :text, label: 'Reply', style: "margin-bottom: 10px;"
        = f.button :submit, 'Reply to conversation' ,:class => "btn btn-primary pull-right"


%br
%br
