
.row
  .col-md-1
  .col-md-3  
    = render 'messagenav'
  .col-md-7
    #actions
      - if @conversation.is_trashed?(current_user)
        = link_to "Untrash this conversation", untrash_conversation_path(@conversation), class: "btn btn-success pull-right", method: :post
      - else
        = link_to "Trash this conversation", trash_conversation_path(@conversation), class: "btn btn-danger pull-right", method: :delete
        
    %h2.subject= "Subject: " + @conversation.subject
    .well
      %ul.list-group
        %p Message History
        - @conversation.messages.each do |message|
          %li.list-group-item
          
            .panel.panel-default
              .panel-heading.strong
                
                - if message.sender.image_url.present?
                  %img{src: message.sender.image_url, width: '25px', class: "img-rounded"}
                - else
                  =image_tag("https://s3.amazonaws.com/lorious/layout/elements/placeholders/image_placeholder.jpg", width: "25px", class: "img-rounded")
                #{message.created_at.to_s(:short)} (#{time_ago_in_words(message.created_at)} ago)
                = message.sender.name
              .panel-body= message.body
    
    #reply
      = simple_form_for @message  do |f|
        = f.input :conversation_id, as: :hidden
        -#= f.label :body, label: 'Reply', required: false
        %h2 Reply
        = f.input_field :body, as: :text, label: 'Reply', style: "margin-bottom: 10px;"
        -#= f.input :attachment, as: :file
        = f.button :submit, 'Reply to conversation' ,:class => "btn btn-primary pull-right"
    
        
%br
%br
