<table class="table">
  <tbody>
    <tr>
      <td><%= "email".humanize %></td>
      <td><%= placeholder_for_blank @user.email %></td>
    </tr>

    <tr>
      <td><%= "first_name".humanize %></td>
      <td><%= placeholder_for_blank @user.first_name %></td>
    </tr>

    <tr>
      <td><%= "last_name".humanize %></td>
      <td><%= placeholder_for_blank @user.last_name %></td>
    </tr>

    <tr>
      <td><%= "username".humanize %></td>
      <td><%= placeholder_for_blank @user.username %></td>
    </tr>

    <tr>
      <td><%= "zip_code".humanize %></td>
      <td><%= placeholder_for_blank @user.zip_code %></td>
    </tr>

    <tr>
      <td><%= "website".humanize %></td>
      <td><%= placeholder_for_blank @user.website %></td>
    </tr>

    <tr>
      <td><%= "tag_line".humanize %></td>
      <td><%= placeholder_for_blank @user.tag_line %></td>
    </tr>

    <tr>
      <td><%= "bio".humanize %></td>
      <td><%= placeholder_for_blank @user.bio %></td>
    </tr>

    <tr>
      <td><%= "job".humanize %></td>
      <td><%= placeholder_for_blank @user.job %></td>
    </tr>

  </tbody>
</table>
