<%= stylesheet_link_tag "users/show" %>
<%= javascript_include_tag "users/manifest" %>

<div class="container" id="profile_body">
  <div class="row">
    <div class="panel-group col-xs-4" id="sidebar_accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#manage_profile">
              Manage Profile
            </a>
          </h4>
        </div>
        <div id="manage_profile" class="xpanel panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#view_profile" data-toggle="tab" class="profile_tabs">View Profile</a></li>
              <li><a href="#edit_profile" data-toggle="tab" class="profile_tabs">Edit Profile</a></li>
              <li>
                <a href="#add_interests" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/interests/new" data-content-handler="#add_interests">Add your Interests</a>
              </li>
              <% if @user.expert? %>
                <li>
                  <a href="#add_expertise" data-toggle="tab" class="content-load profile_tabs" data-content-url="/experts/expertise/new" data-content-handler="#add_expertise">Add your Expertise</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#collapseTwo">
              View Appointments
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="xpanel panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#pending_appointments" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/appointments/pending" data-content-handler="#pending_appointments">Pending Appointments</a>
              </li>
              <li>
                <a href="#upcoming_appointments" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/appointments/upcoming" data-content-handler="#upcoming_appointments">Upcoming Appointments</a>
              </li>
              <li>
                <a href="#history_appointments" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/appointments/history" data-content-handler="#history_appointments">Appointments History</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% unless @user.expert? %>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#collapseThree">
	              View Requests
	            </a>
	          </h4>
	        </div>
	        <div id="collapseThree" class="xpanel panel-collapse collapse">
	          <div class="panel-body">
	            <ul class="nav nav-pills nav-stacked">
	              <li>
	                <a href="#new_requests" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/requests_made/new_request" data-content-handler="#new_requests">New Requests</a>
	              </li>
	              <li>
	                <a href="#withdrawn_requests" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/requests_made/withdrawn" data-content-handler="#withdrawn_requests">Withdrawn Requests</a>
	              </li>
	              <li>
	                <a href="#completed_requests" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/requests_made/completed" data-content-handler="#completed_requests">Completed Requests</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#collapseFour">
              Credits/Transactions 
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="xpanel panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            	<li>
            		<a href="#manage_credit" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/credit_transaction/transactions" data-content-handler="#manage_credit">Manage Credits</a>
            	</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#collapseFive">
              Social Media
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="xpanel panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#social_media_list" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/social_media" data-content-handler="#social_media_list">View list of social media</a>
              </li>
              <li>
                <a href="#add_social_media" data-toggle="tab" class="content-load profile_tabs" data-content-url="/users/social_media/new" data-content-handler="#add_social_media">Add a social media</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% if @user.expert? && @user.expert_approved? %>
      
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#collapseSix">
                Manage Availability
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="xpanel panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#edit_availability" data-toggle="tab" class="content-load profile_tabs" data-content-url="/experts/availabilities/<%= @user.availability.id %>/edit" data-content-handler="#edit_availability">Edit Availability</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar_accordion" href="#collapseSeven">
                Manage Subscriptions
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="xpanel panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#edit_subscriptions" data-toggle="tab" class="content-load profile_tabs" data-content-url="/subscriptions" data-content-handler="#edit_subscriptions">Edit Subscriptions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-content col-xs-8">
      <div class="tab-pane active" id="view_profile">
        <%= render "users/info" %>
      </div>
      <div class="tab-pane" id="edit_profile">
        <%= render "users/form" %>
      </div>
      <div class="tab-pane" id="social_media_list"></div>
      <div class="tab-pane" id="add_social_media"></div>
      <div class="tab-pane" id="add_interests"></div>
      <div class="tab-pane" id="add_expertise"></div>
      <div class="tab-pane" id="edit_availability"></div>
      <div class="tab-pane" id="pending_appointments"></div>
      <div class="tab-pane" id="upcoming_appointments"></div>
      <div class="tab-pane" id="history_appointments"></div>
      <div class="tab-pane" id="new_requests"></div>
      <div class="tab-pane" id="withdrawn_requests"></div>
      <div class="tab-pane" id="completed_requests"></div>
      <div class="tab-pane" id="edit_subscriptions"></div>
      <div class="tab-pane" id="manage_credit"></div>
      
    </div>
  </div>
</div>
<br />
