<table class="table">
  <thead>
    <tr>
      <th>Appointment with</th>
      <th>Regarding</th>
      <th>Time</th>
      <th>Timezone</th>
      <th>Status</th>
      <th>Details</th>
      <th>Cancel</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_with_for_user(current_user).name rescue "Unknown" %></td>
        <td><%= appointment.subject %></td>
        <td><%= appointment.time.in_time_zone(appointment.time_zone).to_formatted_s(:long) %></td>
        <td><%= appointment.time_zone %></td>
        <td><%= appointment.appt_state %></td>
        <td><%= link_to "View", expert_appointment_url(appointment.expert.id, appointment.id), target: "_blank" %>
        	<% if appointment.appt_state == "completed" && appointment.review.nil? %>
        		<%= link_to "Review", new_expert_review_url(appointment.expert.id, :appointment => appointment.id) %>
    		<% else %>
    			<% if appointment.review.present? && appointment.user == current_user %>
    				<%= link_to "Edit Review", edit_expert_review_url(appointment.expert.id, :id => appointment.review.id) %>
				<% end %>    				
        	<% end %>
        </td>
        <td>
    		<% unless appointment.appt_state == "cancelled" || appointment.appt_state == "completed" %>
				<%= link_to "Cancel", cancel_expert_appointment_path(appointment.expert.id, appointment.id), method: :post, :confirm => "Are you sure you want to CANCEL this appointment ?" %>
			<% end %>				        		
    	</td>
      </tr>
    <% end %>
  </tbody>
</table>


