<table class="table">
  <thead>
    <tr>
      <th>Appointment with</th>
      <th>Regarding</th>
      <th>Time</th>
      <th>Details</th>
      <th>Edit</th>
      <% if current_user.expert? %>
        <th>Confirm</th>
      <% end %>
      <th>Cancel</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_with_for_user(current_user).name %></td>
        <td><%= appointment.subject %></td>
        <td><%= appointment.time %></td>
        <td><%= link_to "View", expert_appointment_url(appointment.expert.id, appointment.id), target: "_blank" %></td>
        <td><%= link_to "Edit", edit_expert_appointment_url(appointment.expert.id, appointment.id), target: "_blank" %></td>
        <% if current_user.expert? %>
          <td><%= link_to "Confirm", confirm_expert_appointment_path(appointment.expert.id, appointment.id), method: :post %></td>
        <% end %>
        <td><%= link_to "Cancel", cancel_expert_appointment_path(appointment.expert.id, appointment.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @appointments.empty? %>
  <div>No pending appointments.</div>
<% end %>
