.well1
  %table#tbl_hours{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr
        %th
        %th.hrd_am{:colspan => "11"} AM
        %th.hrd_pm{:colspan => "12"} PM
      %tr.time-header
        %th
        / nighttime AM
        %th.verticaltext 12
        %th.verticaltext 1
        %th.verticaltext 2
        %th.verticaltext 3
        %th.verticaltext 4
        %th.verticaltext 5
        %th.verticaltext 6
        %th.verticaltext 7
        %th.verticaltext 8
        %th.verticaltext 9
        %th.verticaltext 10
        %th.verticaltext 11
        / daytime PM
        %th.verticaltext 12
        %th.verticaltext 1
        %th.verticaltext 2
        %th.verticaltext 3
        %th.verticaltext 4
        %th.verticaltext 5
        %th.verticaltext 6
        %th.verticaltext 7
        %th.verticaltext 8
        %th.verticaltext 9
        %th.verticaltext 10
        %th.verticaltext 11
      -(0..6).to_a.each do |day_index|
        -day_start_minute = day_index * 24 * 60
        %tr{ :id => "day_#{day_index}" }
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} 
            =Date::DAYNAMES[day_index]
          -(0..23).to_a.each do |hour_index|
            -hour_start_minute = day_start_minute + hour_index * 60
            %td
              .leftDiv.availability_time_unit{"data-start"=>"#{hour_start_minute}", "data-end"=>"#{hour_start_minute+30}"}
              .rightDiv.availability_time_unit{"data-start"=>"#{hour_start_minute+30}", "data-end"=>"#{hour_start_minute+60}"}
:javascript
  $(document).ready(function(){
    var availability_list = #{raw @availability.try(:timespans)};
    lorious.fn.highlight_availability_list(availability_list);
  })
