<h1 class="text-center">Control Panel</h1>

<div class="row" style="margin-bottom: 15px;">
	<div class="col-xs-3 col-md-2"></div>
	<div class="col-xs-12 col-md-6 ">
		<h2>Settings</h2>

		<%= form_tag update_multiple_settings_path, method: :put do %>
		<% @settings.each do |setting| %>

		<%= fields_for "settings[]", setting do |f| %>
		<% if setting.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>
			<ul>
				<% setting.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="form-group string optional request_company_name">
			<label class="string optional col-md-7 control-label" for="request_company_name"><%= setting.name %></label>
			<div class="col-md-5">
				<%= f.text_field :value %>
			</div>
		</div>

		<% end %>
		<% end %>

		<div>
			<%= submit_tag "Update Settings" %>
		</div>
		<% end %>

	</div>
	<div class="col-xs-6 col-md-4"></div>
</div>

<div class="row" style="margin-bottom: 15px;">
	<div class="col-xs-1"></div>
	<div class="col-xs-11 ">
		<h2>Transactions in Escrow</h2>
		<%= form_tag update_multiple_transactions_path, method: :put do %>
		<table class="data-table display table table-condensed">
			<thead>
				<tr>
					<th>Hold</th>
					<th>Refund</th>
					<th>Release</th>
					<th>Nothing</th>
					<th>Transaction</th>
					<th>Tr. ID</th>
					<th>Escrow Status</th>
					<th>User</th>
					<th>Expert</th>
					<th>Hold?</th>
					<th>Request Cancel?</th>
					<th>Detail</th>
				</tr>
			</thead>
			<tbody>
				<% @transactions.each do |transaction| %>

				<%= fields_for "transactions[]", transaction do |f| %>
				<% if transaction.errors.any? %>
				<tr class="danger">
					<td colspan="12"><h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
					<ul>
						<% transaction.errors.full_messages.each do |msg| %>
						<li>
							<%= msg %>
						</li>
						<% end %>
					</ul></td>
				</tr>
				<% end %>

				<tr>
					<td> <%= f.radio_button(:state_change, "hold") %> </td>
					<td> <%= f.radio_button(:state_change, "refund") %> </td>
					<td> <%= f.radio_button(:state_change, "release") %> </td>
					<td> <%= f.radio_button(:state_change, "nothing") %> </td>
					<td> <%= transaction.transaction_status.to_s[0,9] %> </td>
					<td> <%= transaction.transaction_id %> </td>
					<td> <%= transaction.transaction_escrow_status %> </td>
					<td> <%= transaction.appointment.user.name rescue "Unknown" %> </td>
					<td> <%= transaction.appointment.expert.name rescue "Unknown" %> </td>
					<td> <%= transaction.is_request_hold %> </td>
					<td> <%= transaction.is_request_cancel %> </td>
					<td> <button data-toggle="modal" href="#transactionModal<%= transaction.id %>">Details</button> </td>
				</tr>

				<% end %>

				<% end %>
			</tbody>
		</table>
		<div>
			<%= will_paginate @transactions%>
			<%= submit_tag "Update Transactions" %>
		</div>
		<% end %>
	</div>

</div>

<div class="row" style="width: 80%; margin-bottom: 55px;">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<h2>Expert Approvals</h2>

		<%= form_tag update_multiple_experts_path, method: :put do %>
		<table class="data-table display table table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Loc.</th>
					<th>Details</th>
					<th>Created</th>
					<th>Apprv?</th>
				</tr>
			</thead>
			<% @experts.each do |expert| %>
			<tbody>
				<%= fields_for "experts[]", expert do |f| %>
				<% if expert.errors.any? %>
				<tr class="danger">
					<td colspan="2"><h2><%= pluralize(experts.errors.count, "error") %> prohibited this setting from being saved:</h2>
					<ul>
						<% expert.errors.full_messages.each do |msg| %>
						<li>
							<%= msg %>
						</li>
						<% end %>
					</ul></td>
				</tr>
				<% end %>

				<tr>
					<td><%= expert.name%></td>
					<td><%= expert.email%></td>
					<td><%= expert.location%></td>
					<td><button data-toggle="modal" href="#expertModal<%= expert.id %>">Details</button> </td>
					<td><%= expert.created_at%></td>
					<td><%= check_box_tag "expert_ids[]", expert.id %></td>
				</tr>

				<% end %>
				<% end %>
			</tbody>
		</table>
		<div>
			<%= submit_tag "Approve Expert" %>
		</div>
		<% end %>
	</div>
</div>
<!-- Generate Modals -->
<% @transactions.each do |transaction| %>
	<div aria-hidden="true" class="modal fade modalmessage" on-show id="transactionModal<%= transaction.id %>" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"> Transaction Details </h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<h3>Time</h3><%= transaction.appointment.time rescue "Unknown" %> 
					</div>
					<div class="row">
						<h3>Subject</h3><%= transaction.appointment.subject rescue "Unknown" %> 
					</div>
					<div class="row">
						<h3>Cancellation Reason</h3><%= transaction.request_cancel_reason %>
					</div>
				</div>
				<div class="modal-footer">
					<p>
						Press ESC to Exit
					</p>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% @experts.each do |expert| %>
	<div aria-hidden="true" class="modal fade modalmessage" on-show id="expertModal<%= expert.id %>" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"> Expert Details </h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<h3>Skills</h3><%= expert.skill_list rescue "Unknown" %> 
					</div>
					<div class="row">
						<h3>stackoverflow</h3><%= expert.stack_overflow_url %>
					</div>
					<div class="row">
						<h3>github</h3><%= expert.github_url %>
					</div>
					<div class="row">
						<h3>linked in</h3><%= expert.linked_in_url %>
					</div>
					<div class="row">
						<h3>website</h3><%= expert.personal_website %>
					</div>
					<div class="row">
						<h3>Description</h3><%= expert.about_description rescue "Unknown" %> 
					</div>
				</div>
				<div class="modal-footer">
					<p>
						Press ESC to Exit
					</p>
				</div>
			</div>
		</div>
	</div>
<% end %>
