- meta :title => "Lorious | Dashboard"
.container.wrapper
  .row{:style => "margin-top:20px;"}
    .col-md-1
    .col-md-10
      %h1 Browse Expertises
    .col-md-1
  .row{:style => "margin-top: 10px;"}
    .col-xs-1
    - @expertise.each do |expertise|
      .col-xs-2.well.pull-left{:style => "margin-right: 20px; margin-left: 20px; min-height: 300px;"}
        = link_to image_tag(expertise.image.url, class: "img-circle search-avatar-small no-margin"), profile_path(expertise.username)
        %h3.text-center= expertise.name
        .text-center{:style => "margin-top: 15px;"}
          %ul.list-unstyled.tags
            - expertise.skill_list.first(2).each do |skill|
              %li.highlighted.smallest
                %a{:href => "/search?keyword=#{skill}", :style => "color: inherit; text-decoration: none;"}
                  = skill
    .col-xs-3
  .row
    %form{:action => search_path, :method => "get"}
      .col-xs-3
      .col-xs-5
        .input-group.merged
          %span.input-group-addon
            %i.icon-search
          = search_field_tag :keyword ,nil, :class => 'form-control', :placeholder => 'Enter Keyword'
      .col-xs-1
        = submit_tag "Search", :class => 'btn btn-primary', :style => 'margin-top: 9px; padding: 13px;'
      .col-xs-3
  %hr/
  .row{:style => "margin-top:0px;"}
    .col-xs-1
    .col-xs-10
      %h1 Featured Experts
    .col-xs-1
  .marketing{:style => "margin-bottom: 10px;"}
    / Three columns of text below the carousel
    .row
      - @featured_experts.each do |expert|
        .col-xs-4{:style => "margin-bottom: 40px;"}
          = link_to image_tag(expert.image.url, class: "img-circle search-avatar no-margin"), profile_path(expert.username)
          %h2= expert.name
          %p
            = expert.bio
          %p
            = link_to "View Details", profile_url(expert.username), class: "btn btn-primary"
    / /.row
  %hr/
  .row{:style => "margin-top:0px;"}
    .col-xs-1
    .col-xs-10
      %h1 Latest Requests
    .col-xs-1
  .row{:style => "margin-bottom: 50px;"}
    .col-md-8
      - @requests.each do |request|
        .well
          .row
            .col-md-4
              %br/
              %a{:href => "/#{request.requester.username rescue '#'}"}
                = image_tag(request.requester.image.url , class: "img-circle search-avatar")
            .col-md-8
              %h2{:style => "margin-top: 22px;"}
                = request.problem_headline
              %div{:style => "margin-top:10px; text-overflow:ellipsis; overflow:hidden; height: 65px;"}
                = request.problem_description
              - if request.requester_id != current_user.id
                %div{:style => "margin-top: 15px;"}
                  - if current_user.expert?
                    %a{:href => "/experts/#{current_user.id}/appointments/new?request_id=#{request.id}&user_id=#{request.requester_id}&duration=#{request.appt_length}", :style => "color: inherit;"}
                      %button.btn.btn-default.btn-xs.pull-right
                        %i.icon-calendar
                        Request new appointment
    .col-md-4
      .row{:style => "margin-bottom: 40px;"}
        = link_to "View More Requests", request_latest_url, class: "btn-lg btn-primary"
      .row
        = link_to "Post Requests", new_request_url, class: "btn-lg btn-primary"
