<div class="container wrapper">
	<div class="row" style="margin-top:20px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Browse Expertises</h1>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row" style="margin-top: 10px; width: 1176px;">
		<div class="col-md-1"></div>
		<% Expert.order("RANDOM()").all(:limit => 4).each do |expertise| %>
			<div class="col-md-2 well pull-left" style="margin-right: 20px; margin-left: 20px;">
				<%= link_to image_tag(expertise.image.url, class: "img-circle search-avatar no-margin"), profile_path(expertise.username) %> 
				<h3 class="text-center"><%= expertise.name %></h3>
				<div style="margin-top: 15px;" class="text-center">
					
					<ul class="list-unstyled tags" >
						<% expertise.skill_list.first(2).each do |skill| %>
							<a href="/search?keyword=<%= skill %>">
								<li class="highlighted smallest">
									<%= skill %>
								</li> 
							</a>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		<div class="col-md-3"></div>
	</div>
	<div class="row">

		<form action="<%=search_path %>" method="get">
			<div class="col-xs-3"></div>
			<div class="col-xs-5">
				<div class="input-group merged">
					<span class="input-group-addon"><i class="icon-search"></i></span>
					<%= search_field_tag :keyword ,nil, :class => 'form-control', :placeholder => 'Enter Keyword' %>
				</div>
			</div>
			<div class="col-xs-1" >
				<%= submit_tag "Search", :class => 'btn btn-primary', :style => 'margin-top: 9px; padding: 13px;' %>
			</div>
			<div class="col-xs-3"></div>
		</form>
		<!--div class="input-group merged">
		<span class="input-group-addon"><i class="icon-search"></i></span>
		<input type="text" class="form-control searchbox" placeholder="Search" ng-model="query.$" />
		</div-->
	</div>
	<hr />
	<div class="row" style="margin-top:0px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Featured Experts</h1>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="marketing" style="margin-bottom: 100px;">

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<% Expert.where(is_featured: true).limit(3).order("created_at DESC").each do |expert| %>
				<div class="col-lg-4" style="margin-bottom: 40px;">
					<%= link_to image_tag(expert.image.url, class: "img-circle search-avatar no-margin"), profile_path(expert.username) %>
					<h2><%= expert.name %></h2>
					<p>
						<%= expert.bio %>
					</p>
					<p>
						<%= link_to "View Details", profile_url(expert.username), class: "btn btn-primary" %>
					</p>
				</div>
			<% end %>
		</div><!-- /.row -->

	</div>

	<hr />
	<div class="row" style="margin-top:0px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Latest Requests</h1>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-8">
				<% Request.all(:limit => 3).each do |request| %>
					<div class="well">
						<div class="row">
							<div class="col-md-4">
								<br />
								<a href="/<%= request.requester.username rescue '#' %>">
									<%= image_tag(request.requester.image.url , class: "img-circle search-avatar") %>
								</a>
								
							</div>
							<div class="col-md-8">
								<h2 style="margin-top: 22px;"> <%= request.problem_headline %></h2>
								
								<div style="margin-top:10px; text-overflow:ellipsis; overflow:hidden; height: 65px;">
									<%= request.problem_description %>
								</div>
								<% if request.requester_id != current_user.id %>
									<div style="margin-top: 15px;" >
										<% if current_user.expert? %>
											<a style="color: inherit;" href="/experts/<%= current_user.id %>/appointments/new?request_id=<%= request.id %>&user_id=<%= request.requester_id %>&duration=<%= request.appt_length %>" >
												<button class="btn btn-primary message" class="btn btn-default btn-xs pull-right">
													<i class="icon-calendar"></i>
													Request new appointment
												</button>
											</a>
										<% end %>	
									</div>
								<% end %>
							</div>
						</div>
						
					</div>
				<% end %>
					
				
			</div>
			<div class="col-md-4">
				<div class="row" style="margin-bottom: 40px;">
					<%= link_to "View More Requests", request_latest_url, class: "btn-lg btn-primary" %>	
				</div>
				<div class="row">
					<%= link_to "Post Requests", new_request_url, class: "btn-lg btn-primary" %>	
				</div>
			</div>

	</div>
</div>
