<style>
	.chosen-container-multi .chosen-choices {
	  border: 1px solid #cccccc !important;
	  border-top-left-radius: 4px !important;
	  border-bottom-left-radius: 4px !important;
	}
</style>
<div class="row" style="margin-bottom: 150px;">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
  	<h1 class="text-center"><%= @header %></h1>
  	
  	<%= simple_form_for @request, validate: true do |f| %>
	  	<%= f.error_notification %>
	  	
		<div id="content" style="margin-top: 25px;">
		  <div class="form-inputs">
		  	<% if user_signed_in? %>
				
				<div class="form-group string optional request_company_name">
					<label class="string optional col-md-5 control-label" for="request_company_name">Name</label>
					<div class="col-md-7">
						<input class="form-control" type="text" readonly="true" value="<%= current_user.name %>" />
					</div>
				</div>
				
				<div class="form-group string optional request_company_name">
					<label class="string optional col-md-5 control-label" for="request_company_name">Email</label>
					<div class="col-xs-7">
						<input class="form-control" type="text" readonly="true" value="<%= current_user.email %>" />
						your email will not be shared publicly
					</div>
				</div>
				
				<%= f.hidden_field :requester_id, :value => current_user.id %>
			<% end %>
			
		    <%= f.input :company_name, label: 'Company/App Name' %>
		    <%= f.input :company_url, label: 'Company URL'%>
		    <%= f.input :company_description, label: 'What does your Company Do?', :as => :text, :input_html => { :cols => 50, :rows => 3 } %>
		    
		    <div class="form-group text">
				<label class="text col-xs-5 control-label" for="review_content"> Problem Type</label>
				<div class="col-xs-7">
					<%= f.select :problem_list, options_for_select(@available_problems, (@request.problem_list.split(",").first rescue [""]) ), {}, multiple: "multiple", class: "chosen", "data-placeholder" => "Select your problem type" %>
				</div>
		  	</div>
		  	
		    <%= f.input :problem_headline, label: 'Problem Headline', :as => :string %>
		    
		    <%= f.input :problem_description, label: 'Problem Description', :as => :text, :input_html => { :cols => 50, :rows => 3 } %>
		    
		  	<div class="form-group text">
				<label class="text col-xs-5 control-label" for="review_content"> Tags</label>
				<div class="col-xs-7">
					<%= f.select :skill_list, options_for_select(@available_skills, (@request.skill_list.split(",").first rescue [""]) ), {}, multiple: "multiple", class: "chosen", "data-placeholder" => "Select your skills" %>
				</div>
		  	</div>
		  	
			<%= f.input :appt_length, label: 'Appt Length', collection: Request.APPT_LENGTH, selected: @request.appt_length, style: "vertical-align: middle;" %>
			
			<% if(false) %>
				<div class="well" style="margin-top: 50px; margin-bottom: 20px;">
					<h3 class="text-center" >I want to talk to someone</h3>
				
					<%= f.input :is_local, label: 'Local'%>
					
					<%= f.input :local_zip, label: 'ZIP'%>
					
					<%= f.input :is_online, label: 'Online'%>	
					
				</div>
			<% end %>
		  </div>
		  	
		  	 
		  <div class="form-actions" style="margin-top: 70px;">
		    <%= f.button :submit, 'Submit Request' , :class => "btn btn-primary pull-right col-lg-offset-10"  %>
		  </div>
		</div>
	<% end %>
			
  </div>
  <div class="col-xs-3"></div>
</div>


