<div class="row container wrapper" style="margin-bottom: 150px;">
	<div class="col-xs-2"></div>
	<div class="col-xs-6">
		<h1 class="text-center">Credit Card Details</h1>

		<%= simple_form_for :customer,
		:params => @result && @result.params[:customer],
		:errors => @result && @result.errors.for(:customer),
		:builder => ApplicationHelper::BraintreeFormBuilder,
		:url => Braintree::TransparentRedirect.url,
		:html => {:autocomplete => "off"} do |f| -%>

		<%= field_set_tag "Credit Card" do -%>
		<%= f.fields_for :credit_card do |c| -%>
		<div>
			<%= c.label :cardholder_name, "Cardholder's Name" %>
		</div>
		<div class="cc-details-padding-10">
			<%= c.text_field :cardholder_name , class: "form-control"%>
		</div>
		<div>
			<%= c.label :number, "Number" %>
		</div>
		<div class="cc-details-padding-10">
			<%= c.text_field :number , class: "form-control"%>
		</div>
		<div>
			<%= c.label :expiration_date, "Expiration Date (MM/YY)" %>
		</div>
		<div class="cc-details-padding-10">
			<%= c.text_field :expiration_date , class: "form-control"%>
		</div>
		<div>
			<%= c.label :cvv, "CVV" %>
		</div>
		<div class="cc-details-padding-10">
			<%= c.text_field :cvv , class: "form-control"%>
		</div>
		<% end -%>
		<% end -%>

		<% unless current_user.braintree_id.present? && current_user.braintree_token.present?  %>
		<%= hidden_field_tag :tr_data, Braintree::TransparentRedirect.create_customer_data(
		:redirect_url => new_credit_card_url,
		:customer => {:first_name => current_user.first_name, :last_name => current_user.last_name, :email => current_user.email }
		) %>
		<%else%>
		<!-- If braintree id is present then need to update credit card -->
		<%= hidden_field_tag :tr_data, Braintree::TransparentRedirect.update_customer_data(
		:redirect_url => new_credit_card_url,
		:customer_id => current_user.braintree_id,
		:customer => {
		:credit_card => {
		:options => {
		:update_existing_token => current_user.braintree_token
		}
		}
		}) %>
		<% end -%>
		<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end -%>
	</div>
	<div class="col-xs-4"></div>
</div>
<script>
	$('#customer_credit_card_number').payment('formatCardNumber');
	//$('#customer_credit_card_expiration_date').payment('formatCardExpiry');
	$('#customer_credit_card_cvv').payment('formatCardCVC');
</script>
