<h1>Payment: $<%= h @amount %></h1>

<% if @result -%>
  <div style="color: red;"><%= h @result.errors.size %> error(s)</div>
<% end -%>

<%= simple_form_for :transaction,
     :params => @result && @result.params[:transaction],
     :errors => @result && @result.errors.for(:transaction),
     :builder => ApplicationHelper::BraintreeFormBuilder,
     :url => Braintree::TransparentRedirect.url,
     :html => {:autocomplete => "off"} do |f| -%>
  
  <!- Normally this would be refactored into a Rails form helper - it is left here for clarity ->
  <%= hidden_field_tag :tr_data, Braintree::TransparentRedirect.transaction_data(
    :redirect_url => confirm_payment_url,
    :transaction => {:type => "sale", :amount => @amount, :options=> {:submit_for_settlement => true}, :customer_id => current_user.braintree_id }
  ) %>
  <%= f.submit "Submit" %>
<% end -%>


<br /><br /><br /><br /><br />
