.container{:style => "margin-top: 10px; margin-bottom: 155px;"}
  = simple_form_for [@expert, @appointment], validate: true do |f|
    .row
      .col-xs-12
        %h2.text-center Appointment
        = f.error_notification
    .row
      .col-xs-12{:style => "margin-top: 15px;"}
        %h6.text-center What:
        = f.input :subject
        - if @edit
          = f.hidden_field :what_message, label: false, as: :text, value: "skip"
          = f.input :description, label: "Appointment Description", as: :text
        - else
          = f.input :what_message, label: "Appointment Description", as: :text
    .row
      .col-xs-12
        .form-group.text
          %label.text.col-md-5.control-label{:for => "appointment_skill_list"} Tags
          .col-md-7
            = f.select :skill_list, options_for_select(@available_skills, (@appointment.skill_list.split(",").first rescue [""]) ), {}, multiple: "multiple", class: "chosen", "data-placeholder" => "Select your tags"
    .row
      .col-xs-12
        %h6.text-center When:
    .row
      .col-xs-12
        = f.input :time_zone, priority: /US/, default: 'Eastern Time (US & Canada)', :input_html => { :style => "margin-top: 7px;"}
    .row
      .col-xs-12
        = f.input :time, as: :string
    .row
      .col-xs-12
        = f.input :duration, collection: @duration_options, default: @default_duration, label: "Length", wrapper_html: { style: "display: block"}, input_html: { class: "xform-dropdown"}
    .row
      .col-xs-12.text-center
        %h6.text-center
          Total:
          %strong $
          %span#total= (@hourly_rate_in_credit * @default_duration / 60.to_f).ceil.to_i rescue 0
          (#{number_to_currency(@hourly_rate_in_credit)}
          %i (hourly rate)
          \&times;
          = succeed ")" do
            %span#duration_info
              = @default_duration
              minutes
    .row
      .col-xs-4
      .col-xs-1{:style => "margin-top: 15px; text-align: right"}
        = f.input_field :tos_accepted, as: :boolean, "data-toggle"=>"checkbox"
      .col-xs-7
        =f.label :tos_accepted, "I have read and agree to the Lorious terms, conditions and policies."
    .row.text-center
      .col-xs-12{:style => "margin-top: 15px;"}
        %a{:href => "http://www.lorious.com/legal", :target => "_blank"} View terms and conditions
    .row
      .col-xs-12.text-center{:style => "margin-top: 15px;"}
        - if !@edit
          = f.button :submit, @request_id.present? ? 'Request Appointment' : 'Request Appointment & Agree to Pay' , :class => "btn btn-primary text-right"
        - else
          = f.button :submit, 'Update Appointment' , :class => "btn btn-primary text-right col-lg-offset-8"
      - if @request_id.nil? && @edit.nil?
        .col-xs-12{:style => "margin-top: 15px;"}
          %h6.text-center
            %i The user will be charged the amount listed above once the appointment is confirmed.
      = f.hidden_field :hourly_rate, value: @hourly_rate_in_credit
      = f.hidden_field :user_id, value: @user_id
      = f.hidden_field :request_id, value: @request_id
:javascript
  $(function() {
  		var date = new Date();
  		date.setDate(date.getDate())

  		$('#appointment_time').datetimepicker({
  			format : "MM dd, yyyy - HH:ii p",
  			maxView : 3,
  			minView : 0,
  			startView : 2,
  			minuteStep : 15,
  			viewSelect : 0,
  			weekStart : 1,
  			todayBtn : 0,
  			autoclose : 1,
  			todayHighlight : 1,
  			forceParse : 0,
  			showMeridian : 1,
  			pickerPosition : 'bottom-left',
  			startDate : date
  		});
  	});
  $(function() {
    $(".form-dropdown").selectpicker({style: 'btn btn-primary', menuStyle: 'dropdown-inverse'});
    });

  	var hourly_rate_in_credit =
   #{raw @hourly_rate_in_credit}
  	;

  	$('#appointment_duration').change(function(event) {
  		var text = $('#appointment_duration option:selected').text();
  		var value = $(this).val();
  		$("#duration_info").html(text);
  		$('#total').html(Math.ceil(hourly_rate_in_credit / 60 * value));
  	});

  	$('input[name="appointment[online]"]').change(function(event) {
  		var value = $(this).val();
  		if (value == "true") {
  			$("#appointment_place").attr("disabled", true);
  		} else {
  			$("#appointment_place").attr("disabled", false);
  		}
  	});
