<div class="container" style="margin-top: 10px; margin-bottom: 155px;">
	<div class="row">
		<h2 class="text-center">Appointment</h2>
		<div class="col-md-10">
			<%= simple_form_for [@expert, @appointment], validate: true do |f| %>
			<%= f.error_notification %>

			<%= f.input :subject %>
			<div class="col-md-offset-4 col-md-7">
				<h3>When:</h3>
			</div>
			<%= f.input :time_zone, priority: /US/, default: 'Eastern Time (US & Canada)', :input_html => { :style => "margin-top: 7px;"} %>
			<%= f.input :time, as: :string %>
			
			<div class="col-md-offset-4 col-md-12" style="margin-top: 15px;">
				<h3>What:</h3>
				<%= f.input :what_message, label: false, as: :text %>
			</div>
			
			<% @available_skills = AvailableTag.skills.map { |e| [e.name, e.name] } %>
			<div class="form-group text">
				<label class="text col-md-5 control-label" for="review_content"> Tags</label>
				<div class="col-md-7">
					<%= f.select :skill_list, options_for_select(@available_skills), {} ,  multiple: "multiple", class: "chosen", "data-placeholder" => "Select your tags", :include_blank => true, :required => true %>
				</div>
		  	</div>
		  	
			<div class="col-md-offset-4 col-md-12" style="margin-top: 15px;">
				<h3>Length:</h3>
				<%= f.input :duration, collection: @duration_options, selected: @default_duration, label: false %>
			</div>
			
			<div class="col-md-offset-4 col-md-12">
				<h3>Total:</h3>
				<div>
					<b>$</b><span id ="total" class="strong"><%= (@hourly_rate_in_credit * @default_duration / 60.to_f).ceil.to_i rescue 0 %></span>
					(<%= number_to_currency(@hourly_rate_in_credit) %> <i>(hourly rate)</i> &times; <span id="duration_info"><%= @default_duration %> minutes</span>)
				</div>
			</div>

			<div class="col-md-offset-3 col-md-12" style="margin-top: 15px;">
				<%= f.input :tos_accepted, label: 'I have read and agree to the Lorious terms, conditions and policies.', as: :boolean, :input_html => { :style => ""} %>
			</div>
			
			<div class="col-md-offset-4 col-md-12" style="margin-top: 15px;">
				<a href="http://www.lorious.com/legal" target="_blank">View terms and conditions</a	>
			</div>
			
			<div class="col-md-offset-3 col-md-7" style="margin-top: 15px;">
				<%= f.button :submit, 'Request Appointment & Agree to Pay' , :class => "btn btn-primary text-right col-lg-offset-8"  %>
			</div>
			<div class="col-md-offset-4 col-md-10" style="margin-top: 15px;">
				<span class="text-right"><i>The user will be charges the amount listed above once the appointment is confirmed.</i></span>	
			</div>
			

			<%= f.hidden_field :hourly_rate, value: @hourly_rate_in_credit %>
			<%= f.hidden_field :user_id, value: @user_id %>
			<%= f.hidden_field :request_id, value: @request_id %>

			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var date = new Date();
		date.setDate(date.getDate())

		$('#appointment_time').datetimepicker({
			format : "MM dd, yyyy - HH:ii p",
			maxView : 3,
			minView : 0,
			startView : 2,
			minuteStep : 15,
			viewSelect : 0,
			weekStart : 1,
			todayBtn : 0,
			autoclose : 1,
			todayHighlight : 1,
			forceParse : 0,
			showMeridian : 1,
			pickerPosition : 'bottom-left',
			startDate : date
		});
	});

	var hourly_rate_in_credit =  
 <%= raw @hourly_rate_in_credit %>
	;

	$('#appointment_duration').change(function(event) {
		var text = $('#appointment_duration option:selected').text();
		var value = $(this).val();
		$("#duration_info").html(text);
		$('#total').html(Math.ceil(hourly_rate_in_credit / 60 * value));
	});

	$('input[name="appointment[online]"]').change(function(event) {
		var value = $(this).val();
		if (value == "true") {
			$("#appointment_place").attr("disabled", true);
		} else {
			$("#appointment_place").attr("disabled", false);
		}
	}); 
</script>
