var hangout_link = $('#hangout_link');
var start_hangout_link = $('#start_hangout_link');

<% if @appointment.is_hangout_active?  %>
  if(hangout_link.attr('href') != "<%=raw @appointment.hangout_url %>"){
    hangout_link.attr('href',"<%=raw @appointment.hangout_url %>");
  }
<% end %>

<% if @appointment.is_hangout_active? && current_user == @appointment.expert %>
  if(start_hangout_link.attr('href') != "<%= raw @appointment.hangout_url %>"){
    start_hangout_link.attr('href',"<%= raw @appointment.hangout_url %>");
    start_hangout_link.removeClass('btn-danger');
    start_hangout_link.addClass('btn-success');
    start_hangout_link.text('Join Hangout');
  }
<% end %>

<% if @appointment.is_hangout_active? && current_user == @appointment.user %>
  if( typeof(hangout_link) != 'undefined'){
    $('#hangout_panel').append( '<a id="hangout_link" class="btn btn-success" href= "<%= @appointment.hangout_url %>" target = "_blank"> Join Hangout</a>');
  }
<% end %>
/*if( typeof(hangout_link) != 'undefined'){
    $('#hangout_panel').append( '<a id="hangout_link" class="btn btn-success" href= "<%= @appointment.hangout_url %>" target = "_blank"> Join Hangout</a>');
  }*/
//$('#hangout_panel').append( '<a id="hangout_link" class="btn btn-success" href= "<%= @appointment.hangout_url %>" target = "_blank"> Join Hangout</a>');
//console.log("hello");
HangoutPoller.poll();