<div class="container">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-4">Subject</div>
        <div class="col-xs-8"><%= @appointment.subject %></div>
      </div>
      <div class="row mg-20">
        <div class="col-xs-4">Description</div>
        <div class="col-xs-8"><%= @appointment.description %></div>
      </div>
      <div class="row mg-20">
        <div class="col-xs-4">Time</div>
        <div class="col-xs-8"><%= @appointment.time %></div>
      </div>
      <div class="row mg-20">
        <div class="col-xs-4">Duration</div>
        <div class="col-xs-8"><%= @appointment.duration %></div>
      </div>
      <div class="row mg-20">
        <div class="col-xs-4">Expert Hourly credit cost</div>
        <div class="col-xs-8"><%= @appointment.expert.hourly_rate_in_credit %></div>
      </div>
      <div class="row mg-20">
        <div class="col-xs-4">Total credit cost</div>
        <div class="col-xs-8">
          <span class="label label-info">
            <i class="icon-asterisk"><%= @appointment.total_credit_cost %></i>
          </span>
        </div>
      </div>
      <div class="row mg-20">
        <div class="col-xs-4">Meet online</div>
        <div class="col-xs-8"><%= boolean_mapper(@appointment.online) %></div>
      </div>
      <% unless @appointment.online %>
        <div class="row mg-20">
          <div class="col-xs-4">Place of Meet</div>
          <div class="col-xs-8"><%= @appointment.place %></div>
        </div>
      <% end %>
      <div class="row mg-20">
        <% if current_user.expert? %>
          <div class="col-xs-4">Approved by User</div>
          <div class="col-xs-8"><%= boolean_mapper(@appointment.user_confirmed) %></div>
        <% else %>
          <div class="col-xs-4">Approved by Expert</div>
          <div class="col-xs-8"><%= boolean_mapper(@appointment.expert_confirmed) %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-5">
      
      <%= link_to "Edit", edit_expert_appointment_url(@appointment.expert.id, @appointment.id), class: "btn btn-default" %>
      
      <% if (current_user.expert? && !@appointment.expert_confirmed) || (!current_user.expert? && !@appointment.user_confirmed) %>
        
      	<%= link_to "Confirm", confirm_expert_appointment_path(@appointment.expert.id, @appointment.id), method: :post, class: "btn btn-success" %>
        
      <% end %>
    </div>
  </div>

</div>
