<div class="container">
	<div class="row" style="margin-top: 20px; margin-bottom: 30px;">
		<h1 class="text-center"><%= @appointment.subject %>, <%= number_to_currency(@appointment.total_credit_cost) %>/<%= @appointment.duration_in_words %> </h1>
		<div class="col-xs-6">
			<div class="row">
				<h3>Message History</h3>
				<div class="well" style="height: 250px; overflow-y: scroll;">
					<% if Conversation.where(id: @appointment.message_id).size > 0 %>
						<% Conversation.find(@appointment.message_id).messages.order(:created_at => :desc).each do |message|%>
						<div class="panel panel-default">
							<div class="panel-body">
								<h4><img class="img-rounded" src="<%= message.sender.image_url %>"  width="25px">
								<%= message.created_at.to_s(:short) %> (<%= time_ago_in_words(message.created_at) %> ago)
								<% if message.sender == current_user %>
									You said
								<% else %>
									<%= message.sender.name %>
								<% end %>
								 </h4>
								<%= message.body %>
							</div>
						</div>
						<% end %>
					<% else %>
						<div class="panel panel-default">
							<div class="panel-body">
								<h4>No Messages</h4>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
			<div class="row">
				<h3 style="margin-bottom: 3px;">Reply Now</h3>
				<%= render 'message' %>	
			</div>
			
		</div>
		<div class="col-xs-1">
		</div>
		<div class="col-xs-5">
			<h3 style="margin-bottom: 15px;">Request Info</h3>
			
			<div class="row">
				<h5>Who</h5>
				<div class="col-xs-4 strong">
					Host:
				</div>
				<div class="col-xs-8">
					<img class="img-rounded" src="<%= @appointment.expert.image_url %>"  width="25px" style="margin-right: 10px;"><%= @appointment.expert.name %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 strong">
					Attendee:
				</div>
				<div class="col-xs-8">
					<img class="img-rounded" src="<%= @appointment.user.image_url %>"  width="25px" style="margin-right: 10px;"><%= @appointment.user.name %>
				</div>
			</div>
			<div class="row mg-20">
				<h5>When</h5>
				<div class="col-xs-4">
					Time
				</div>
				<div class="col-xs-8">
					<%= @appointment.time.in_time_zone(@appointment.time_zone).to_formatted_s(:long) %>
				</div>
			</div>
			<div class="row mg-20">
				<div class="col-xs-4">
					Time Zone
				</div>
				<div class="col-xs-8">
					<%= @appointment.time_zone %>
				</div>
			</div>
			<div class="row mg-20">
				<h5>What</h5>
				<div class="col-xs-4">
					Subject
				</div>
				<div class="col-xs-8">
					<%= @appointment.subject %>
				</div>
			</div>
			<div class="row mg-20">
				<div class="col-xs-4">
					Description
				</div>
				<div class="col-xs-8">
					<%= @appointment.description %>
				</div>
			</div>
			<div class="row mg-20">
				<div class="col-xs-4">
					Tags
				</div>
				<div class="col-xs-8">
					<ul class="list-unstyled tags" >
						<% @appointment.skill_list.each do |skill| %>
							<a href="/search?keyword=<%= skill %>">
								<li class="highlighted smallest">
									<%= skill %>
								</li> 
							</a>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="row mg-20">
				<h5>Length</h5>
				<div class="col-xs-12">
					<%= @appointment.duration_in_words %>
				</div>
			</div>

			<div class="row mg-20">
				<div class="col-xs-4">
					Hourly Rate 
				</div>
				<div class="col-xs-8">
					<%= number_to_currency(@appointment.hourly_rate) %>
				</div>
			</div>
			<div class="row mg-20">
				<h5>Subtotal</h5>
				<div class="col-xs-12">
					<h3><span class="label label-info" style="font-size: 13px;"> <%= number_to_currency(@appointment.total_credit_cost) %> </span></h3>
				</div>
			</div>
			<div class="row mg-20">
				<h5>Appointment Confirmation</h5>
				<div class="row" style="margin-left: 20px;">
					<div style="min-width: 400px;">
						<strong class="strong-padding-10">Attendee:</strong> <img class="img-rounded" src="<%= @appointment.user.image_url %>"  width="25px" style="margin-right: 10px;"><%= @appointment.user.name %>
						<strong class="strong-padding-10">Confirmed:</strong> <%= boolean_mapper(@appointment.user_confirmed) %>
					</div>
				</div>
				
				<div class="row" style="margin-left: 20px;">
					<div style="min-width: 400px;">
						<strong class="strong-padding-50">Host:</strong> <img class="img-rounded" src="<%= @appointment.expert.image_url %>"  width="25px" style="margin-right: 10px;"><%= @appointment.expert.name %>
						<strong class="strong-padding-10">Confirmed:</strong> <%= boolean_mapper(@appointment.expert_confirmed) %>
					</div>
				</div>
				
			</div>
			
			<div class="row mg-20">
				<% unless (@appointment.appt_state == "confirmed" || @appointment.appt_state == "completed") %>
					<%= link_to "Edit", edit_expert_appointment_url(@appointment.expert.id, @appointment.id), class: "btn btn-primary" %>
					<% if (current_user == @appointment.expert && !@appointment.expert_confirmed) || (current_user == @appointment.user && !@appointment.user_confirmed) %>
						<%= link_to "Confirm", confirm_expert_appointment_path(@appointment.expert.id, @appointment.id), method: :post, class: "btn btn-success" %>
					<% end %>
				<% end %>
	
				<% unless (@appointment.appt_state == "cancelled" || @appointment.appt_state == "completed" )%>
					<%= link_to "Cancel", cancel_expert_appointment_path(@appointment.expert.id, @appointment.id), method: :post, class: "btn btn-warning", :confirm => "Are you sure you want to CANCEL this appointment ?" %>
				<% end %>
				<% if @appointment.appt_state == "confirmed" %>
					
					<% if Time.now > (@appointment.time - (Setting.find_by(name: "google_hangout_show_hours_before") rescue "1").value.to_i.hour) %>
						<% if current_user == @appointment.expert %>
							<% if @appointment.is_hangout_active? && (Time.now - @appointment.hangout_start_time < 3600) %>
								<a id="hangout_link" href="<%= @appointment.hangout_url %>" class="btn btn-success" target="_blank"> Join Hangout </a>
							<% else %>
								<a href="https://plus.google.com/hangouts/_?gid=444606661336&gd=<%= @appointment.id %>" class="btn btn-danger" target="_blank"> Start a Hangout </a>
							<% end %>
						<% else %>
							<% if @appointment.is_hangout_active? %>
								<a id="hangout_link" href="<%= @appointment.hangout_url %>" class="btn btn-success" target="_blank"> Join Hangout </a>
							<% else %>
								<button class="btn btn-warning">
									No active Hangouts
								</button>
							<% end %>
						<% end %>
					<% else %>
						<% if Time.now > (@appointment.time + 24.hours) %>
							<button class="btn btn-warning">
								Appointment Completed
							</button>
						<% end %>
					<% end %>
				<% end %>	
			</div>
		</div>
	</div>
</div>

<script>
	var HangoutPoller;

	HangoutPoller = {
	  poll: function() {
	    return setTimeout(this.request, 5000);
	  },
	  request: function() {
	    return $.get("<%= expert_appointment_url(@appointment.expert.id, @appointment.id) %>");
	  }
	};

	jQuery(function() {
    HangoutPoller.poll();
	});
</script>
