<table class="table">
  <thead>
    <tr>
      <th>Request Headline</th>
      <th>Appointment Length</th>
      <th>Date</th>
      <th>Details</th>
      <th>Edit</th>
      <% unless current_user.expert? %>
      	<th>Withdraw</th>
      <% end %>	
      <% unless current_user.expert? %>
      	<th>Completed</th>
      <% end %>	
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.problem_headline %></td>
        <td><%= request.appt_length_in_words%></td>
        <td><%= request.created_at.to_formatted_s(:long) %></td>
        <td><%= link_to "Show", request_path(request), target: "_blank" %> </td>
        <td><%= link_to "Edit", edit_request_path(request), target: "_blank" %> </td>
        <td><%= link_to "Withdraw", request_path(request.id, :request => {:request_state => "withdraw"}), method: :put %></td>
        <td><%= link_to "Complete", request_path(request.id, :request => {:request_state => "complete"}), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @requests.empty? %>
  <div>No New Request.</div>
<% end %>