<div class="container">
<h1 class="text-center">Edit Review</h1>
<div class="row" style="margin-bottom: 50px;">
	<div class="col-xs-6 col-md-2"></div>
	<div class="col-xs-6 col-md-6 ">

		<%= simple_form_for(@review, url: update_review_path(id: @review.id), method: :put, remote: false, multipart: false, validate: true) do |f| %>
		<div class="alert alert-danger fade" id="modal_notice" style="margin-bottom: 5px;"></div>

		<%= f.input :content, :input_html => { :cols => 50, :rows => 3 } %>

		<div class="form-group">
			<label class="string optional col-md-5 control-label" for="request_company_name">Rating</label>
			<span id="s1" style="margin-top: 7px; margin-left: 12px;" />
		</div>

		<div class="form-group text required review_content">
			<label class="text required col-md-5 control-label" for="review_content"><abbr title="required">*</abbr> Skills</label>
			<div class="col-md-7">
				<%= f.select :tags, options_for_select(@available_skills, (@review.tag_list.split(",").first rescue [""]) ), {} ,  multiple: "multiple", class: "chosen", "data-placeholder" => "Select your skills" %>
			</div>
		</div>

		<%= f.button :submit, "Submit review", class: "btn btn-default pull-right" %>
		<% end %>
	</div>
	<div class="col-xs-6 col-md-4"></div>
</div>
</div>
<script>
	$(document).ready(function() {
		$('#s1').raty({
			scoreName : 'review[rating]',
			scoreId : 'review_rating',
			path : '/',
			score: <%=@rating_score.nil? ? 0 : @rating_score%>
		});
	}); 
</script>