<h1 class="text-center">Write a Review for <%= Expert.find(@expert_id).name rescue "" %></h1>
<div class="row" style="margin-bottom: 50px;">
	<div class="col-xs-6 col-md-2"></div>
	<div class="col-xs-6 col-md-6 ">

		<%= simple_form_for(Review.new, url: new_review_path, method: :post, remote: false, multipart: true, validate: true) do |f| %>
		<div class="alert alert-danger fade" id="modal_notice" style="margin-bottom: 5px;"></div>

		<%= f.hidden_field :reviewer_id, value: current_user.id %>
		<%= f.hidden_field :appointment, value: @appointment.id %>
		<%= f.hidden_field :reviewed_id, value: @expert_id %>
		<%= f.input :content, :input_html => { :cols => 50, :rows => 3 } %>

		<div class="form-group">
			<label class="string optional col-md-5 control-label" for="request_company_name">Rating</label>
			<span id="s1" style="margin-top: 7px; margin-left: 12px;" />
		</div>

		<div class="form-group text required review_content">
			<label class="text required col-md-5 control-label" for="review_content"><abbr title="required">*</abbr> Skills</label>
			<div class="col-md-7">
				<%= f.select :tags, options_for_select(@available_skills, (@appointment.skill_list.split(",").first rescue [""]) ), {} ,  multiple: "multiple", class: "chosen", "data-placeholder" => "Select your skills" %>
			</div>
		</div>

		<%= f.button :submit, "Submit review", class: "btn btn-default pull-right" %>
		<% end %>
	</div>
	<div class="col-xs-6 col-md-4"></div>
</div>
<br />
<br />
<h1 class="text-center">Request Cancellation</h1>
<div class="row" style="margin-bottom: 150px;">
	<div class="col-xs-6 col-md-2"></div>
	<div class="col-xs-6 col-md-6 ">
		<%= form_tag request_cancel_path(appointment: @appointment), method: :put do %>
		  <div class="row form-group" style="margin-bottom: 55px;">
		  	<label class="string optional col-md-5 control-label" >Cancellation Reason</label>
		  	<div class="col-md-7">
		  		<%= text_area_tag :request_cancel_reason, nil, class: "text form-control"%>		
		  	</div>	
		  </div>
		  <div class="row">
		  	<%= submit_tag "Submit Cancellation Request", class: "btn btn-default pull-right" %>	
		  </div>
		  
		<% end %>

	</div>
	<div class="col-xs-6 col-md-4"></div>
</div>	
<script>
	$(document).ready(function() {
		$('#s1').raty({
			scoreName : 'review[rating]',
			scoreId : 'review_rating',
			path : '/'
		});
	}); 
</script>