<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>

		<!-- This is the Layout File for all mails that are sent including Mailboxer mails -->
		<tbody>
			<tr>
				<td align="center" valign="top">
				<table style="background-color: #FDFDFD;" bgcolor="#FDFDFD" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td align="center" valign="top">
							<table border="0" cellpadding="10" cellspacing="0" width="600">
								<tbody>
									<tr>
										<td style="background-color: #F5F5F5;" bgcolor="#F5F5F5" valign="top">
										<table border="0" cellpadding="10" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td valign="top">
													<div style="font-size: 14px; line-height: 150%; font-family: Arial; color: #505050; text-align: left;" align="left">
														<!-- Content -->
														<p style="text-align: left;">
															<span style="font-size: 28px;"><strong><%= @heading %></strong></span>
															<br>
															<br>
															<%= image_tag asset_path('lorious_2color_beta.jpg') -%>
															<br>
															<span style="font-size:14px;"><span style="line-height: 28.796875px;"> <% if content_for?(:message) %>
																	<%= yield(:message) %>
																	<% else %>
																	<%= yield %>
																	<% end %> </span>
														</p>
														<!-- End Content -->
													</div></td>
												</tr>
											</tbody>
										</table></td>
									</tr>
									<%= render template: "layouts/mail_footer" %>
								</tbody>
							</table></td>
						</tr>
					</tbody>
				</table></td>
			</tr>
		</tbody>

	</body>
</html>