= form_for @user, url: "/users", role: "form", class: "form-horizontal", method: "PUT", validate: true do |f|
  .form-group.row
    = f.label :email, class: "col-xs-2 control-label"
    .col-xs-10
      = f.email_field :email, class: "form-control", disabled: true, validate: true
  .form-group.row
    = f.label :first_name, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :first_name, class: "form-control", placeholder: "First name", validate: true
  .form-group.row
    = f.label :last_name, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :last_name, class: "form-control", placeholder: "Last name", validate: true
  .form-group.row
    = f.label :username, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :username, class: "form-control", placeholder: "Username", validate: true
  - if false
    .form-group.row
      = f.label :zip_code, class: "col-xs-2 control-label"
      .col-xs-10
        = f.text_field :zip_code, class: "form-control", placeholder: "Zipcode", validate: true
  .form-group.row
    = f.label :location, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :location, class: "form-control", placeholder: "Location", validate: true
  - if @user.expert?
    .form-group.row
      = f.label :skills, class: "col-xs-2 control-label"
      .col-xs-10
        = f.select :skills, options_for_select(@available_skills, (@user.skill_list.split(",").first rescue [""]) ), {}, multiple: "multiple", class: "chosen", "data-placeholder" => "Select your skills"
  .form-group.row
    = f.label :website, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :website, class: "form-control", placeholder: "http://website-name.com", validate: true
  .form-group.row
    = f.label :tag_line, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_field :tag_line, class: "form-control", placeholder: "Tag line", validate: true
  .form-group.row
    = f.label :bio, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_area :bio, class: "form-control", placeholder: "Bio", validate: true
  .form-group.row
    = f.label :job, class: "col-xs-2 control-label"
    .col-xs-10
      = f.text_area :job, class: "form-control", placeholder: "Job Description", validate: true
  - if current_user.expert?
    .form-group.row
      = f.label "Hourly Cost", class: "col-xs-2 control-label"
      .col-xs-10
        = f.text_field :hourly_cost, class: "form-control", value: (@user.availability.hourly_cost rescue 0), placeholder: "Hourly Cost", validate: true
  .form-group.row
    = f.label :image, class: "col-xs-2 control-label"
    .col-xs-10
      = f.file_field :image, class: "form-control", placeholder: "Image", validate: true
  .form-group.row
    .col-lg-offset-2.col-lg-10
      = f.submit "Update Info", class: "btn btn-default"
